


body {
    background-color: yellow;
}

h1 {
    background-color: rgb(0,0,0); 
    text-align: center;
    color: rgb(255,255,255);
    font-family: courier;
}

h2 {
	font-family: courier;
}

p {
    font-family: verdana;
    font-size: 20px;
}

div{
	""
}




